.form{
    text-align: right;
}

.form button{
    cursor: pointer;
    background-color: rgb(42, 182, 105);
    border: 1px solid rgb(42, 165, 97);
    color: white;
    border-radius: 14px;
    font-weight: bold;
    padding: 0.5rem 0.5rem;
    box-shadow: 0 0 4px rgb(128, 128, 128);
}

.form button:hover,
.form button:active{
    background-color: rgb(6, 114, 63);
    border-color: rgb(6, 114, 63);
}
