.price{
    color: rgb(175, 21, 21);

}

.description{
    font-size: 14px;
    font-family: cursive;
    
}
.meal {
    display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  }