.input{
  border-radius: 5px; 
  /* border: 1px solid #ccc; */
  font: inherit;
  padding-left: 0.5rem;
  display: flex;
}

.input label{
font-weight: bold;
margin-right: 0.5rem;
}

.input1{
  width: 3rem;
  }
  .span{
    justify-content:space-between ;
  }